<html>
<head>
<font size="6">
<h3>
UNIVERSITY ADMISSION PREDICTION SYSTEM
</h3>
<h4>
Enter your details and get probability of your admission
</h4>
</head>
<style>
body
{
background-image:url(
background-repeat:nor-repeat;
}
</style>
<body>
Enter GRE Score:<input type="text"><br>
Enter TOEFL Score:<input type="text"><br>
Select university no:<input type="radio"value="1"><br>
<select>
<option>1</option><<br>
<option>2</option><br>
<option>3</option><br>
<option>4</option><br>
<option>5</option><br>
</option>
</select><br>
Enter SOP Score:<input type="text"><br>
Enter LOR Score:<input type="text"><br>
Enter CGPA Score:<input type="text><br>
<big>Research</big><br>
Research:<input type="radio"value="Research"><br>
No Research:<input type="radio"value="No Research"><br>
<button type="submit"class="btn btn-primary btn-block btn-large">predict</button>
</body>
</html>